<div class="media">
    <div class="media__image">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" 
        rel="stylesheet"><i class="fa fa-bomb icon icon--primary" style="color: rgb(72, 168, 237); font-size: 40px;
         box-sizing: content-box; line-height: 72px; text-align: center; width: 72px; height: 72px;
          display: inline-block; overflow: hidden; border-radius: 50%; background-color: rgb(224, 231, 237);"></i>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Our cloud plans include easy onboarding for new
            and existing sites and managed WordpPress and 
            WooCommere auto-udates.
        </p>

    </div>
</div>